@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Poppins;
    src: url('/fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap
  }

  @font-face {
    font-family: Poppins;
    src: url('/fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap
  }

  @font-face {
    font-family: Poppins;
    src: url('/fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-display: swap
  }

  @font-face {
    font-family: Poppins;
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap
  }

  @font-face {
    font-family: Poppins;
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap
  }
}

@layer utilities {
  .bg-search {
    background-image: url('/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 12px center;
  }

  .bg-ethereum {
    background-image: url('/icons/ethereum.svg');
    background-repeat: no-repeat;
    background-position: 12px center;
  }

  .bg-illustration {
    background-image: url('/illustrations/illustration-1.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar:horizontal {
  height: 0;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  border: 3px solid #B84EF1;
}