@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* 
  - Light : 300
  - Reguler : 400
  - Medium : 500
  - Semibold : 600
  - Bold : 700
*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-search {
    background-image: url('/icons/search.svg');
    background-repeat: no-repeat;
    background-position: 12px center;
  }

  .bg-ethereum {
    background-image: url('/icons/ethereum.svg');
    background-repeat: no-repeat;
    background-position: 12px center;
  }

  .bg-illustration {
    background-image: url('/illustrations/illustration-1.svg');
    background-repeat: no-repeat;
    background-position: right bottom;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar:horizontal {
  height: 0;
}
/* Track */
::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: #edf2f7;
}
/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 100vh;
  border: 3px solid #B84EF1;
}